{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

<div style="width:100%;"> 
  <svg width="100%" viewBox="0 0 1440 527" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(0,-230)">
  <defs>
    <linearGradient id="bicolored">
            <stop offset="57%" stop-color="white"/>
            <stop offset="10%" stop-color="#ffae42"/>
        </linearGradient>
  </defs>
  <path d="M774.496 497.267C336.519 583.714 75.6749 461.248 0 389.209V0H1440V427.73C1400.66 414.89 1212.47 410.821 774.496 497.267Z" fill="#3563DB"/>
  <text style="font-weight:bold; text-align:center;" x="15%" y="60%" fill="white" font-size ="40">Why we built News Navigator?</text>
  
  <p style="margin-top: -240px; margin-left:150px;margin-right:150px;">
    In the modern, fast-paced world with information overload - it is difficult to keep track of what’s important and relevant to us. Fake news is a widespread problem in our society. A lot of time and energy is wasted in filtering through news sources, checking whether the news is fake or not and extracting the main ideas from the article. 
    </br>With this project we are focusing on people like civil service aspirants and other government exam takers who have limited time and need to keep track of news from a few sources, get the main ideas from the article and have a safeguard against fake news.
    </br>Our website, News Navigator, will solve all these problems- it helps to filter the real and fake news and inform the users whether the articles are clickbait or not. Also the user can get the summary of the article. You just have to select the news sources, category of articles, and from what start date to end date articles are required - the application will automatically produce the required results.

  </p>
  
    
    
  <g>    
  </svg>
</div>

    
    
<div > <hr>
  
<p style=" margin-left:200px;margin-right:200px;">
      Made with &#128153 by <strong>Soumya Choudhary</strong>, <strong>Rajat Gupta</strong> & <strong>Shubham Kumar Singh</strong>
 </p>
    
 
    
  <g>    
  </svg>
</div>    
    
    
{% endblock content %}
